<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="utils.css">
    <link rel="stylesheet" href="mobile.css">
    <title>Write Your Blog</title>
</head>

<body>
    <nav class="navigation max-width1 m-auto">
        <div class="nav-left">
            Blog
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <form action="/search" method="get">
                <input class="form-input" id="myInput" type="text" name="query" placeholder="Search this website"
                    onkeyup="searchFun()">
                <button class="btn">Search</button>
            </form>
        </div>
    </nav>
    <div class="max-width1 m-auto">
        <hr>
    </div>
    <div class="home-articles max-width1 m-auto">
        <h2>Searched Results for Django</h2>
        <div class="article">
            <div class="article-img">
                <a href="/blog.html">
                    <img src="img.jpeg" alt="article">
                </a>
            </div>
            <div class="article-content">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>
                <span>Author Name</span>
                <span>19 July | 5min </span>
            </div>
        </div>
        <div class="article">
            <div class="article-img">
                <a href="/blog.html">
                    <img src="img.jpeg" alt="article">
                </a>
            </div>
            <div class="article-content">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>
                <span>Author Name</span>
                <span>19 July | 5min </span>
            </div>
        </div>
        <div class="article">
            <div class="article-img">
                <a href="/blog.html">
                    <img src="img.jpeg" alt="article">
                </a>
            </div>
            <div class="article-content">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>
                <span>Author Name</span>
                <span>19 July | 5min </span>
            </div>
        </div>
    </div>
    <div class="footer max-width2 m-auto">
        Copyright &copy;myblog.in<a href="xyz.com">My blog website</a>
    </div>
</body>
<script>
    const searchFun = () => {
        let filter = document.getElementById('myInput').value.toUpperCase();
    }
</script>

</html>